[submodule "display-case"]
	path = display-case
	url = https://github.com/WCRSyyc/display-case.git
[submodule "xylophone"]
	path = xylophone
	url = https://github.com/WCRSyyc/xylophone.git
[submodule "display-lf"]
	path = display-lf
	url = https://github.com/WCRSyyc/display-lf.git
[submodule "spatula-bot"]
	path = spatula-bot
	url = https://github.com/WCRSyyc/spatula-bot.git
